<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="view-transition" content="same-origin" />
    <title>{% block title %}TomTroc{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('favicon.svg') }}" type="image/svg+xml" />
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}" />

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body id="{{ app.request.get('_route') }}">
    {% import 'default/_language_selector.html.twig' as lang %}

    {% block header %}
        <header class="site-header">
            <div class="container header-container">
                <a href="{{ path('homepage') }}" class="logo">TomTroc</a>
                <nav class="main-nav">
                    <ul class="nav-list">
                        <li><a href="{{ path('homepage', { _locale: app.request.locale }) }}" class="{{ app.request.get('_route') == 'homepage' ? 'active' : '' }}">Accueil</a></li>
                        <li><a href="{{ path('book_index') }}">Nos livres à l'échange</a></li>
                        <li><a href="{{ path('app_message') }}">Messagerie</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('user_edit') }}">Mon compte</a></li>
                            <li><a href="{{ logout_path() }}" class="text-danger">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        {% endif %}
                        <li>{{ lang.render_language_selector(true) }}</li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock %}

    <main class="container main-content">
        {{ include('default/_flash_messages.html.twig') }}
        {% block body %}
            
        {% endblock %}
    </main>

    {% block footer %}
        <footer class="site-footer">
            <div class="footer-container">
                <p>&copy; {{ 'now'|date('Y') }} - TomTroc</p>
                <p class="small">{{ 'mit_license'|trans }}</p>
                <a href="https://github.com/Alydiabira/Symfony-7-testapp" target="_blank" title="Voir le projet sur GitHub">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </footer>
    {% endblock %}
</body>
</html>
